#time-viewer {
	height: 100%;
	grid-area: b;
	border-right: 2px solid white;
	color: white;

	> div {
		display: flex;

		:nth-child(1) {
			width: 40px;
			border-right: 2px solid white;
		}

		:nth-child(2) {
			width: calc(100% - 40px);
			display: grid;
			place-items: center;
		}

		> div {
			padding: 10px 0;
		}
	}

	> :last-child {
		border-bottom: 2px solid white;
	}
}
